
.Users, .Auths {
	width: 10%;
	font-size: 90%;
	float: left;
	margin-left: 100px;
}

.User, .Auth {
	width: 80px;
	border: 2px solid black;
	border-radius: 15px;
	overflow: hidden;
}

.Users > *:not(:first-child):not(:last-child) {
	margin-top: 10px;
	margin-bottom: 10px;
}

.Auths {
	margin-top: 40px;
	margin-left: 300px;
}

.Auths > *:not(:first-child):not(:last-child) {
	margin-top: 20px;
	margin-bottom: 20px;
}

.User:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Auth:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.Auth {
	padding: 20px 5px 20px;
}
.userImages {
	position: relative;
	top: -10px; /* remove after getting fixed image */
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.UserInfo, .AuthInfo {
	position: relative;
	font-size: 0.4em;
	text-align: center;
}

h1 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1px;
}

.AuthToken {
	margin-bottom: 10px;
}