---
import {type TocItem} from "@/lib/generateToc.ts"

interface Props {
	toc: TocItem[];
	depth?: number;
	isMobile?: boolean;
}

const { toc, isMobile = false, depth = 0 } = Astro.props;
---

<ul class:list={{ isMobile }}>
	{
		toc.map((heading) => (
			<li>
				<a href={'#' + heading.slug}>
					<span>{heading.text}</span>
				</a>
				{heading.children.length > 0 && (
					<Astro.self toc={heading.children} depth={depth + 1} isMobile={isMobile} />
				)}
			</li>
		))
	}
</ul>

<style define:vars={{ depth }}>
	ul {
		padding: 0;
		list-style: none;
	}
	a {
		--pad-inline: 0.5rem;
		display: block;
		border-radius: 0.25rem;
		padding-block: 0.25rem;
		padding-inline: calc(1rem * var(--depth) + var(--pad-inline)) var(--pad-inline);
		line-height: 1.25;
	}
	a[aria-current='true'] {
		color: purple;
	}
</style>