.sidebar {
	min-width: 200px;
	background: #AAFFFF;
    top: 20px;
}

.sidebarContent {
    width: 200px;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar > ul {
    padding: 0;
}

.sidebar ul {
    font-weight: normal;
}

.sidebar > ul > li {
    font-weight: bold;
}

.active {
    background-color: #aaffaa;
}
