html {
    background-color: #F5F5DC;
    color: #000000;
}

body {
    margin: 0;
}

h1 {
    font-family: "Courier New", monospace;
}

.page {
	display: flex;
}

.content {
	flex-grow: 1;
}

.page > * {
	/*height: 100vh;*/
	padding: 15px;
	box-sizing: border-box;
}
