---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Main Page'>
	<div class=" min-h-screen w-full flex justify-center flex-col">
		<div class=" flex items-center h-full flex-col">
			<div class=" dark:text-white text-black font-extrabold text-5xl" >(Insert big eye catchy slogan here)</div>
			<div class=" dark:text-white text-black ">(Shorter sentence that kinda explains what this handbook thing is about)</div>
			<div class=" py-6 h-full">
				<button class=" rounded-3xl bg-blue-700 p-4 shadow-lg hover:opacity-60 transition-all">
					(Click here to go to the handbook now!!!!)
				</button>
			</div>
		</div>
	</div>
</BaseLayout>
