---

---

<main
  class="
  prose dark:prose-invert
  prose-h1:font-bold
  prose-a:text-blue-600 
  prose-p:text-justify 
  prose-img:rounded-xl
  prose-headings:underline 
  mx-auto mt-5 max-w-prose
  "
>
  <slot />
</main>
