---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=" min-h-screen font-mono dark:bg-slate-900 bg-white overflow-x-hidden">
        <header class=" h-[70px] w-full fixed bg-slate-700 z-50 shadow-lg">
            <nav class=" h-[70px] flex justify-between items-center w-full px-5">
                <h1 class=" text-4xl"> SECSoc's Security handbook</h1>
                <div class="hidden [&>*]:list-none gap-3 whitespace-nowrap min-[950px]:flex items-center h-[--navbar-height] justify-end w-full">
                    <div class="hover:scale-110">
                        github link
                    </div>
                    <div class="hover:scale-110">
                        socials
                    </div>
                </div>
            </nav>
        </header>
		<slot />
	</body>
</html>